<HTML>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=600" />
	<head>
        <link rel="stylesheet" type="text/css" href="src/style/bootstrap.css"/>
        <link rel="stylesheet" type="text/css" href="src/style/toastr.min.css"/>
        <link rel="stylesheet" type="text/css" href="src/style/font-awesome.min.css"/>
        <link rel="stylesheet" type="text/css" href="src/style/checkbox.css"/>
        <link rel="stylesheet" type="text/css" href="src/style/app.css"/>

		<script src="//cdn.pubnub.com/sdk/javascript/pubnub.4.4.2.min.js"></script>

        <script src="/dist/vendor.js"></script>
        <script src="/dist/bundle.js"></script>
	</head>
    <body ng-app="estimate" ng-controller="MainController">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <span class="navbar-brand">Estimation</span>
                </div>
                <p class="navbar-text navbar-right" ng-show="hasChannel()"><span ng-if="!isHost()">{{user.name}} at </span>channel '{{user.channel}}'</p>
                <div class="btn btn-default navbar-right" ng-click="leaveChannel()" ng-show="hasChannel()">Leave channel</div>
            </div>
        </nav>

        <div id="main-view" ng-view></div>
    </body>
</HTML>