<div class="loginmodal-container">
    <h1>
        <div class="btn btn-default pull-left" ng-show="state.main !== 'SELECT_MODE'" ng-click="changeMainState('SELECT_MODE')">←</div>
        <span class="title">{{title}}<span>
        <div class="btn btn-default pull-right" ng-show="state.join !== 'LOADING'" ng-click="changeJoinState('LOADING')">↻</div>
    </h1><br>
    <form ng-switch="state.main">
        <div ng-switch-when="SELECT_MODE">
            <div class="btn btn-primary btn-wide" ng-click="changeMainState('CREATE_ROOM')">Create room</div>
            <div class="btn btn-primary btn-wide" ng-click="changeMainState('JOIN_ROOM')">Join room</div>
        </div>
        <div ng-switch-when="CREATE_ROOM">
            <input type="text" class="form-control" placeholder="Name" ng-model="roomName">
            <div class="btn btn-primary btn-wide" ng-click="createRoom(roomName)">Create</div>
        </div>
        <div ng-switch-when="JOIN_ROOM">
            <input type="text" class="form-control" placeholder="Username" ng-model="userName">
            <div class="btn btn-primary btn-wide" ng-repeat="room in rooms" ng-click="joinRoom(userName, room)">{{room}}</div>
            <div class="text-center" ng-show="state.join === 'ROOMS_NOT_FOUND'">No rooms available</div>
        </div>
    </form>
</div>
